body {
  background:#ececec;
  color:white;
}

:root{
  --tile: 120px;
}
.wrapper{
  margin: 16px;
  position: relative;
}
.wrapper-in{
 position: relative;
    display: block;
    z-index: 1;
    width: 120px;
    height: 120px;

}
.wrapper-transform{
  width: calc(100% - 250px);
}




#drag4,
#drag5,
#drag6,
#drag7,
#drag8,
#drag9,
#drag10,
#drag11,
#drag12 {
  height: var(--tile);
  width: var(--tile);
  position: absolute;
  top:0;
  left:0;
}

.tile-item{
  width: 120px;
  height: 120px;
  background-color: rebeccapurple;
  pointer-events: none;
 
}
 
.tile-item img{
  width: var(--tile);
  height: var(--tile);
}

.wrapper-tiles{
  position: absolute;
  cursor: grab;
}

.board-tiles{
 
}
.board-tiles:hover{
  background-color: rgba(248, 0, 0, 0.3);

}