body {
  background:#ececec;
  color:white;
}

:root{
  --tile: 120px;
}
.wrapper{
  margin: 16px;
  position: relative;
}
.wrapper-in{
 position: relative;
    display: block;
    z-index: 1;
    width: 120px;
    height: 120px;

}



#drag4,
#drag5,
#drag6,
#drag7,
#drag8,
#drag9,
#drag10,
#drag11,
#drag12 {
  height: var(--tile);
  width: var(--tile);
  position: absolute;
  top:0;
  left:0;
}
